# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*

# local env files
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# generated native folders (если используешь Expo Prebuild)
ios/
android/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# temporary files
*.log
*.tmp

# coverage
coverage/

# build artifacts
build/

.env